.q-btn[data-v-4b298059]{font-weight:600}.q-card[data-v-4b298059]{max-width:600px}.q-card-section[data-v-4b298059]{padding:16px}.q-input[data-v-4b298059],.q-select[data-v-4b298059]{margin-bottom:16px}
